accelerate==0.28.0
apex==0.9.10dev
datasets==2.18.0
matplotlib==3.8.3
nltk==3.8.1
numpy==2.2.3
pandas==2.2.3
scipy==1.15.2
seaborn==0.13.2
tensorflow==2.19.0
torch==2.5.1
tqdm==4.66.2
transformers==4.39.1
